[submodule "site/themes/serene"]
	path = site/themes/serene
	url = https://github.com/isunjn/serene.git
	branch = latest
[submodule "site/content/posts/airplay-thinkpad"]
	path = site/content/posts/airplay-thinkpad
	url = https://github.com/justin-napolitano/shairport-sync-blog-post.git
	branch = main
[submodule "site/content/posts/silence_receiver"]
	path = site/content/posts/silence_receiver
	url = https://github.com/justin-napolitano/silence_receiver.git
	branch = main
[submodule "site/content/posts/librespot"]
	path = site/content/posts/librespot
	url = https://github.com/justin-napolitano/librespot.git
[submodule "site/content/posts/signal-gateway"]
	path = site/content/posts/signal-gateway
	url = https://github.com/justin-napolitano/signal_service.git
	branch = site-index
[submodule "site/content/posts/you-post"]
	path = site/content/posts/you-post
	url = https://github.com/justin-napolitano/you-post.git
[submodule "site/content/posts/weather-service"]
	path = site/content/posts/weather-service
	url = https://github.com/justin-napolitano/weather-servb
	branch = blog-post
